<div id="new-blog-form">
    <div id="create-a-post">Create a Post</div>
    <form id="blog-form">
        Title
        <br />
        <textarea id="new-title" maxlength="500"></textarea>
        <br />
        Content
        <br />
        <textarea id="new-content" maxlength="500"></textarea>
        <br />
        <button id="create-post" type="submit">Create</button>
    </form>
</div>

<button id="new-post-btn" type="submit">+ New Post</button>



<script src="/js/dashboard.js"></script>